build/
**/build/

**/__pycache__/
models/
loss_functions/**/dist/
loss_functions/**/*dist*/
loss_functions/**/*egg-info*/

# 忽略所有rar压缩文件
*.rar
*.zip
*.tar.gz
debug/
Pointnet2_PyTorch/
outputs/
.cache/
SUNRGBD/

.vscode
.ipynb_checkpoints
*.egg-info/
*.glb
workspace/**/*.ply
workspace/**/*.glb
workspace/**/*.png
workspace/**/*.pth
*.npy
*.png